.navbar .mega-dropdown {
position: static !important; }

.navbar .dropdown-menu.mega-menu {
width: 100%;
border: none;
border-radius: 0; }
.navbar .dropdown-menu.mega-menu a {
    padding: 0 0 0 0; }
    .navbar .dropdown-menu.mega-menu a.news-title-2 {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fff !important; }
    .navbar .dropdown-menu.mega-menu a.news-title-2:hover {
        color: #d0d6e2 !important; }
.navbar .dropdown-menu.mega-menu .sub-menu a.menu-item-2 {
    color: #fff !important; }
    .navbar .dropdown-menu.mega-menu .sub-menu a.menu-item-2:hover {
    color: #fff !important; }
.navbar .dropdown-menu.mega-menu .sub-title {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0; }
.navbar .dropdown-menu.mega-menu .mt-sm {
    margin-top: -3px; }
.navbar .dropdown-menu.mega-menu .font-small {
    font-size: 0.85rem; }
#pattern-lp {
background-image: url(../img/exagon-pattern.png);
}
.background-lp{
    background-color: #F7F8FD;
}